$main-font-color: #333456;
$tertiary-font-color: #c2c2cc;
$secondary-font-color: #72738e;
$bold-font-color: #5c5c78;

$dull-font-color: #73748f;

$secondary-background-color: #f5f5f7;
$primary-box-color: #f5f5f7;

$button-color-light: #e7e8eb;
$button-color-dark: #72738e;

$ball-color-dark: #cdced7;
$ball-color-light: #e1e1e7;

$secondary-box-color: #333456;

$max-width: 1440px;

